* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
text-align: center;
color: white;
max-width: 300px;
margin: 0 auto;
padding: 5% 0 0;
margin-top: 10%;
display: flex;
font-size: 20px;
justify-content: center;
    }


    form{

      width: 300px;
        border: 2px solid #ccc;
        padding: 30px;
        background: rgb(2, 80, 80);
        border-radius: 15px;
        font-size: 20px;
            }

             svg{
width: 50px;
height: 50px;
               
}

 a{
  
   width: 200px;
   height: 45px;
                  
}

input {
  border-radius: 20px;
  padding: 1px;
  border: 2px solid rgb(2, 80, 80);
  width: 200px;
 font-size: 15px;
}

